/*


`
`   ```..
.   ``   ` `.``..`  `.`
`.                   `   .`
,          ,`       :.`   .` `
.. `.`      ;`     .,`i       ..```
```` `:,.`        ;.,.  ,;i**` i``   .. `.`
.`::,:,`    i*,   ,;`i. ::::i;::;;` ,i     .
.,.`:.     .*`    ,;i:: i:;ii;:.i::`i,      ` .`
`.,      ;:    .::i;:.;::..i.;i;#:;*.    `` ```
`   `,,.      ;:,;, :.,:.i:`.,`   `:.`+:;i`  : i    ``
`.`   .,`       ::i,::: :; :            :.,.;:;;::,    `` `.
` ..``..`         .`   ,`:`,  .:`*. :                 ``i,i:` ,    `` ..` ..`
`.                 `*,` :,;       , `:                   ` ,:. i `   ,        .
`.  :`  .`    ;`     ,i:;;::         `,                     ,i`.i ;` ;,        `.
`   ::  `i    .i     .i. i:.      .                         :i`ii::,,i`      :
`;,  i.   .*   ..:i           :`                        ;;:i;i;;;;:`::` `*` `
.     ,;`:::   :;  ::,;`           ,;                        i;.::i,*:::;::* ;*. .`
.     `i.:;:: `:;.;,:`,.:::`        i                        i``::,,;;`*:;;;`:;. .`
``.ii:.`::;;,;:;`*;;;i,i*;` :.       ..                      ,`  :, i, `:;i:;,,:   ``
`.   `;i;,:```**;`*;ii;.i;:`  ., .     `                      :   ;. ,   ii;:;,;    `..
.     ,i;::*, ``*,n: .i`;`.:,  . ,`.`      .`                `;  ,:  `  `,i.*`;;;`  `  `
:;*..ii`  `,;;.`,`;. ,`   .. ,`     `,  `             i. ;,  `,     ``i`:;`  :  .
``    ` ,:``+ :*           ,`     .. `,      ;``:i:`,`        ;.`i  .:`      :.`::` ,:  .
.`    ;..:.i,, :.           `    `,`:`:      `i;;:  `,`:     .,.,` ,.:   ,  `i::,;:i+`  `
` ,` i`*.;*:.` `;                i,.i :       `ii`.`:: ,;`, :`:   `i;`.`.,  `,` .:i:;`   .`
.*,,i:;ii:    :;;`             i;,` .  `.    `*.:`i;  .,.;*`:   *i;.: ;  `*z: *:.:,i`   ```
.` .i;;;;,i*;.    `i`            ;... i   ;    . ;#,i:  :::,,;   `+*`*`,, .xM#  ` :;;;      `.
`.   .:`:,;`:i*.   ``:           `: ,. +   .;  :.  *;:;  :;i:;`   ;i`#*,;  *.i`    .i.:`       ``
`  ..,i;`*ii .`.. `` `           `` .;`,,   i `;`   ``:  *.*x.,`  :`##;:  `;``    .i::`, ` `  ,..
`   i:,*+,**, .`i:`,                i,: :;`  `i#` .` `:. .+,M.i,  .+*:`   .      `:`;;`,.,;;``*`
.   ;:;i;*::. `;`i,:`             `..#;i `:;.,+,` `*,`::` `*.;,              `;``:.:;::,::;:`:: .
`   `::`+:i`   `*..`;          .`  .,;##:  `*:;:   ,; ::```;.:`.             .,  .;`;::,;;;:::, .
`    ;, `ii     `+. :`       `` :`   ``;#` ,`.;`   `* ,.`,,:.:`*    `       `:` `z``; ;.i,*,:,  `
`.     ,:  .`     `*.`:       `.  ;.   ..`: `` *, .  , ,; ,;::``;   :`       ,:  +; ``;,`:.:;.   ``
.  .:,,`;`      .   ``*:   .i, `.`.:*```;..`:.`.*`::   `:`,*:`  :.`i,   :,   ,`:`*`:::+:;.;`      .
`:;,. `,,,      ..    .Mn.   .  ,`,.,z`i`z` :,,.i:`+  . `:,:i  +i .*++*;.; `:i+.i.:i.i;i,,;.   :`
`.   `,::`         `:      `;      `,`+.,:*,+; `;,`i+ +  ;  zi*;  n.;i.i:.,i``*;..i. *,``+`+`.;  `:: `
`   `` .;**:        ;`      ;`   `` ,:,n``;M;#  ;. :; i `;  ii#` `i .+*.`,.     .. :*,:`*.ii::: `;i` .
`   :*;;;,:::;,`      `;.     :`   `, `;,*; .#xz  ` `#; .`,. .,+` ````**i*;.;i:`  ``in.:,+;;.`:i..;;`  .
`. .:::,,;.::::;;`       :;    .,    .: `*`.:.;*n `  ,+; `,i``ii`..,  ;;,`  ,:*i*: ,#*,***,,`  ;*:::
``.:,:,,::i          ` `,::,    ;,`.  :  .i``*,,+ :  :,.`:;n i::::,`  ``    .*:, ,`..i,:i.``  ``,:;     .
`;*.:;:`       `,,.,:*,:;`  :i`:. `` .:,,;;;`i``#.`;:*i.;i;i:           `ii` .i*`:;` `i,z*```.;:`  .
.    `,,;.,,;n`     ```.` :i..+,..#:`i#;.:``i`;`+`i,,i: *`i;:;: `             :i` ,`,i. ,.;`.+`+:`::i:  ``
.     .::::,```   ` `:,    ;i.```:``.``**;n..i`,,.*.;.;`::;. `                `,`      i:.: i.i: .;i;;.
`      .,;:`      ;..i+`  ` .::*::;.`:#i.;:z:i..`:* :`:```.                   `:+`    ii.i``: i` i.`;:,  `
`   .;;;::, `;`    :::;*  ,.   :i`..,:..#.;,,`, `:, .                          .;;`  `:i+` ``:.    `;`, ``
.  ,,::*::;  i#`      `i;` ,:`  :;:.`.,::*,.::`                                ,i+:       `;:.     :,i. ``
``  ;,.i:.`:,          *#ii` `::,.i.i*i;. ``.                                    ,.*,      ;,  `    ;*;.
`   `,,,:;:,i.      .;:, :+zi:`:;::;```:ii, `                                     ``      .:`  *`   ,i;   `
` `.`:.`:,;..`            .`,*z;i, `                                              `,i*;.   :  ;+.   `::   `.
`` .i:,:..,::;`             `.;:.                                                 .i+*i,: ..:.*+` ``,,     .
`  ,+::i:`:,                .:                                                    ...:;:``*,z,; `i.,    `
`  .;,,``.                  .                                                     `:,`.`.;*.i,``+,:    `,``
``     `,,i:`               ,.                                                      :i..:,:.,``;`,., `:;i` .
.        i,`*.             `;:                                                     .::*,` ` ` i:.``;;i;:`  `
.` `.::::i,:`` `i          `;``                                                     ;z*i.`:..,# `` `,;,
``;i;:.     .i++`          `;`:                                                      `,,`:;i.+`;; ;,;:,
.     ::;,;:.             .i,:.                                                      `:i;`   .i#, *;,;`    ``
.     i;;,:`,:`  ..     .*+ `;``                                                       `.:` `.,;..,:+;,     .
`  . `,:i`;*i.   ,;;;+z+,    ,                                                          ,i,i*;,.:x,;.i     `
`. `;:*+`` `        ``` .:  `,.                                                         .:*`  `i:@..;;`    `
`   ,:`:*;:i*`        ,;`  :;,`                                                        `:i#.i+*,*` ,.     .
`   ;     ,.*:.      `:. `i;;                                                          `:;:  +:`  ;i     ``
``  .,::`     `.    `n:.``.*.                                               `           `i.`:;i   ;.:     `
.    `.+:       .  *.  ```:                                               ,;;:,.        `i,`i*:  i::::,   .
`,;:,.`       .;;.,i+:*`.                                              `*:,.n+`         ,.,;;  i `,.,;. ``
.  .:.          . ;:,`+;``                                              :`,*:@M*`.       .;`*,  i ,::;i;,  `
.  ::::.     `  :::` ;x``i`                                           `i. #:z*#i,:       `*i ,  i  ````:;: ``
`      ,;`::`:    .:;:` ,i`;`                                      .i+*:+**,              ,i*.. ; `:;i:`:.` .
`     .ii;;+:`.       `,*.:`                                  , ;.:#*n;.                 ``;;,`;.;`,i`:::
`.   :;i;,*.  ::. ``..:,.+::                                 `* izn#*`                    ``,i,,::` :: `i  `
`  ;::;:.`   `,zn,.;:;,nn:.                                `.; *;`    `:+nMMzi           ;; :`,:`;`::  .. .
i;.`         #z*ni,#+:**                                ;::,i` ,+nx@#WMx:``           .*`: ,: `:;`     `
. `.;,         ````:``,nx:                                   `;`;zz#zzi`                 ;:: ,::`:      `
.  ,;i;i,:::` `;,  :iz:;;.                                  .;`;:,`.,`                   .,;.,.,::`    `.
`    `:;:;.`:;` :`.`n,i+*   ,              `                ,,,,,                         :i   :.,,    `
`.   i::,;;     *,;,`,z`   :,   `:``,..:::#*+. .,          i*.:                          `;   : :,`  `
`. `::::, `    .z:`,*.    ;*  `i. ,*:izzMi*i;::i`        `*,                            `i   :``:;` .
`     :`      ,+:;*#,`   .+ `,**#n#z#:+#i:.,i::`         `:.                            i   ..  `,``
`    :      `;`;+.**`    ,`*n#****i.`     ``,;i+;       ..                             :,  .,
.   :i`    `,``.i`ii`      :*n:`      `i,`.i:.**+        ;                              +  `,   ``
` `i..::::`    `:*+.      ,*+`      :#@Mi;i`,`  *`       `                              #:`.,   .
i;i:.,;.::     `i`      zi     `+W@M,;        :`                                      +,i:`   `
,i ;,::,:;,     ,,`     `*     iW#x,``         .`                                      :;.;:   `
, `` `:,;`     `::,    `:   .#z+#`                                                    `i;:;`  .
`,`     i;;`      :,:,`      i,.,                                                         ;.`::  .
,,,     ,:``    `  :;*`      .+,;*`                         ``                            ;. ::  `
`,,.   .;:      , `;,+.`         i+                         ..,.                          ;. ::  `
`:,     .:,,.;`;    `;:          ,;,                       `; ,:*i`                      :;;;.  .
.,,`      ,;;`#     `i                         ``         `,   ;;ii`                    ``*:   .
.,`     `i:` i     `:                         .:.        ``   `  .*.                   ,*`
`,:`    :.:` ``     ;`                        .*;                  i,                  ,;    `
`:,`  ..:`:i+,,`   ;::                       ;,+             `    `*,                 ,;   .`
.,,  ;i,i,+i;+*:  .z*                       ` .,           `*      +:                ::   `
`,,`  `:`,*,`+z@: `;;                       `  `          `#,      `#i.              ,:  `
,,`    ,**;;x#Wi:`;,                     `,            .x:`..`  .  `,`             ,;  .
,,.    ;iiii:@##* .i                     `:           .x,i.,.,i` ,`                .;  .
,:`  `*i; ,;i@@#` ``                  ` `i           #i``:;:;,```+.               .;  `
`:,` ``    i`zii:                     :  zx#;`      ,z`:`.:.;.`;`,M,              .;
.:,`      .;i `i                    `;  `*z@W+.  .:n..`;` ,.``;;.;+.             ,:  `
,,.       *,  +                    i.     ,x@@nx@@;.i:,.:;,`  `.;:,             :,  .
`,,.      ;.  #`                   :    `.;`.nM@M: ,;,;;:  ``;M.:..             ;.  `
`,,      `*`.i,                       ,,`  .,:i,i``:.`, ..,M@;   :,           `i`
.,,      .+i;,        .              ,:.``.`;::.`    ` `.n@i   .;*           ,;
`,,`     `;*``.       :`            `;:.`i::i,;`   `::`;.@#    `;#`          ,;  .
`..`    ,;.ii*       ;.          ,``:.:;.::`   .;*i. `xxW`     `*`          i,  .
..,    :: ``.:      ::          i,;,  .```    ,.   `+#@:  ,    ;;         `#`  `
`.,.   ,;    ;`     ,*.         :#`   `,,.:,      ,M@x:   :     i`       `**
`,,`  `i.`:`;;     .i;         #.;z+i;```     `+n@#*.*   *     .i       ;#,  ``
.,,   ,:;`i;i`     :;:       `+:;:n@#z+#Mnz#zM####`;,  ;.      +.     `z#   .
.:.   ,:`;``;      ,;`       n.   ,*#x@#######n; `i` `*      ,`;.    :n+   `
`,.    `:.  ;`      ,:.      iz`      `ix@##M;   ..  :`     `*;;#`   #x,
``      `;        .       z    ``    `.:.  `  `` :         ;,:  `Mn   .
.       ,,               i    `i,  `,,:;:,``;,`:.        `.M*  iM*   .
`      ;`              `      i,   `     .``.i`        `i;i, x@.   .
`.`    `i`              ,     `:.          :`.       `i,:zzz`@z    `
``   `i`            `i.     ,*   `.   ,`i`        `, :;@W:@:   `
``   `i`            #z      ,`.:;;` ,*:.. `      :.`,;x@*M`  .`
`   `i`           ;M,`    .;:`   ,i;,`. ,`     :.`,z@#W*   .
`.   `*. ::       `M*.    `i;    ,::   ,`i,     :;ix##@:  `
`     i, *,      ,W:i     :.     `..  ,`.i:    ,:#@##@`  `
.`   i;`;:     *M,.                  ` `:`   inx####,  .
`.    :*`i;    *x          ``           `,  `;x@###W. ``
,+`z;    ;.`        `.       `      .in####@i` ``
`.    .+,xi   .*.``      ..     ```.     ;*M#Wx@*.
`.   ``+;W+` `z+;+       :,    `, i `. ,`.;Mx;#   ``
`*z@n` +@@@;  `   ;;.``````; `; +.+.i,*`   .
.`    `iMM:####@,`,   .:: i::.,`,:*:zx@n;+.   ``
``     `iM#####*,,`;.`,;` .  ,::;:,z###``   .
`.`     :@####W#i`*::::`:i`.i;::;,i#@*    .`
.`  `zx####@x.;i:*,.`;`:.i ``.;xz    `
`   .iW###Wnzn+i;;: :`i,   .*,i,   ``
`.` `:x@Wiz#@zi#++i:*,;`,`,:::;`  `
`    ,, .,:*+z@#:z,`` *..*i.`;  `
`.        .`*+#*;..:  ..*i .;  `
`        ```,,:,    `;..i*  `
`.`        :i:*` `` ..,*:.
`.`     `i*i.`,;::;,;;` ``
`..   ,;ii.+,:i.`;`  .`
.`.;:i*:ii: `;    .
.  .,`:i::::`
`    `. :     ``
..           `.
.`      ` `
`` ````..
```


*/

/*
 *  Blue: B8EEF1
 */

body
{

    margin: 0 auto;
    background-image: url("images/Wallpaper.png");

}

#main
{

    width: 100%;
    height: 90vh;
    background-color: #FFFFFF;
    overflow: auto;
    text-align: left;

}

#main
{
    text-align: center;
}

/* General navigation bar format */
.navbar-default{
    background: #B8EEF1;
    height: 50px;
}
/* Neptune logo */
#header-image{
    height: 130%;
    height: 130%
}

/* Center the div */
.center{
    text-align: center;
    float: none;
    margin-left:auto;
    margin-right: auto;
}

/* Submit button when logging in */
.login_footer > li{
    float: right;
    padding-left: 10px;
    list-style-type: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #a9dfe2;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(127, 162, 164, 0.72);
}

.shift-left{
    right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #a9dfe2;
}
